RewriteEngine on
### Use PHP 5.3
#Action application/x-hg-php53 /cgi-sys/php53
#AddHandler application/x-hg-php53 .php

RewriteRule ^images/([a-zA-Z0-9\s\.\/,_-]+)$ public/images/$1

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]