input[type=file]{
    border: 1px solid #8b8b8b;
    color: #2f363c;
    padding: 0px 10px 0px 10px;
    background-image: url('../images/input-file.jpg');
    font-weight: bold;
    font-size: 11px;
    text-shadow: 1px 1px white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input[type=checkbox]{
    height: 20px;
    padding: 0px;
    margin: 0px 5px 0px 40px;
    cursor: pointer;
}

input[type=text]{
    padding: 1px 3px 1px 3px;
    margin: 5px 5px 5px 0px;
    color: #4D4D4D;
}

label{ font-weight: bold; margin: 0px 4px 0px 0px; line-height: 18px;}

.checkbutton-label{
    font-weight: normal;margin: 0px 0px; line-height: inherit;
    padding: 0px;
    cursor: pointer;
}

select{ padding: 2px 5px 2px 5px;}

.container .right{ margin-top: 25px;}

.article-grid-holder{
    margin:20px 0 0 0l
}

.article-grid-row{
    width:950px;
}

.article-grid-thumbnail{
    float:left;
    width:240px;
    height:100px;
    overflow:hidden;
}

.article-grid-title{
    padding:0 0 0 10px;
    float:left;
    width:350px;
    height:70px;
}

.article-grid-date{
    float:left;
    width:120px;
    height:70px;
}

.article-grid-status{
    float:left;
    width:80px;
    height:70px;
}

.article-grid-edit-links{
    float:left;
    width:125px;
}

.small{
    font-size:9px
}